@charset "utf-8";

form {
    text-align: center;
}

.logo {
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

.login_form {
    margin: 0 auto;
    margin-top: 7%;
}

input[type="text"] {
    font-weight: bold;
    font-size: 20px;
    color: #66639C;
    font-family: "Noto Serif JP", serif;
    height: 40px;
    width: 40%;
    padding: 8px;
    margin-bottom: 30px;
    margin: 10px auto;
    display: block;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

.text .a {
    width: 70%;
    display: block;
    text-align: right;
}

.text .a a {
    font-size: 15px;
    color: #1456C7;
}

.text .a a:hover {
    color: #5d94f3;
    text-decoration: none;
}

button {
    font-family: "Noto Serif JP", serif;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    color: #221D7E;
    background-color: #DA7BF5;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    padding: 5px 25px;
}

button:hover {
    background-color: #e3a9f3;
}

footer {
    position:fixed;
}