@charset "utf-8";

form {
    text-align: center;
}

.logo {
    margin: 0 auto;
}

.hissu {
    color: #FF1212;
    font-weight: bold;
}

.p {
    text-align: right;
    font-weight: bold;
    margin-right: 30%;
}


.logo img {
    width: 100%;
}

.login_form {
    margin: 0 auto;
    margin-top: 2%;
}



input[type="text"] {
    font-size: 20px;
    color: #221D7E;
    font-family: "Noto Serif JP", serif;
    font-weight: bold;
    height: 40px;
    width: 40%;
    padding: 8px;
    display: block;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FFFFF3;
    margin: 1% auto;
    display: inline;
}

.text .a {
    width: 70%;
    display: block;
    text-align: right;
}

.text .a a {
    font-size: 15px;
    color: #1456C7;
}

.text .a a:hover {
    color: #5d94f3;
    text-decoration: none;
}

.text input[type="text"] {
    width: 37%;
}

.text .cen::before {
    content: "ï¼Š";
    color: #FF1212;
    margin-right: 1%;
    font-weight: bold;
    font-size: 25px;
}

.icon {
    width: 80%;
    margin: 2% auto;
}

.icon img {
    width: 75%;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
}

.icon img:hover {
    opacity: 0.7;
}

input[type=radio]:checked +img{
    border: 2px solid #221D7E;
    box-sizing: border-box;
}

input[type=radio]{
    display: none;
}



.btn {
    text-align: center;
    margin-top: 13%;
    margin-bottom: 2%;
}

.in {
    font-family: "Noto Serif JP", serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 5%;
    color: #221D7E;
    background-color: #63ACF6;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    padding: 5px 40px;
    margin-right: 3%;
}

.in:hover {
    background-color: #98c5f3;
}

.kyan {
    font-family: "Noto Serif JP", serif;
    font-size: 19px;
    font-weight: bolder;
    margin-top: 5%;
    color: #221D7E;
    background-color: #FFFFF3;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    padding: 8.5px 20px;
    text-decoration: none;

}

.kyan:hover {
    background-color: #ececec;
}

.scroll-content_re {
    width: 90vw;
    height: 96vh;
    margin: 0 auto;
}

.scroll-box_re::-webkit-scrollbar {
    background: #E6E7F5;
    width:10px;
    z-index: 1;
}

.scroll-box_re::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    border-radius: 20px;
}

.scroll-box_re::-webkit-scrollbar-thumb:hover {
    background-color: red;
}

footer {
    position:fixed;
    z-index: 100;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #DADCFB;
    border: 3px solid #221D7E;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    height: 80%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h1 {
    color: #221D7E;
    font-weight: bolder;
}

.modal-header {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.modalClose {
    font-size: 2rem;
}

.modal-body {
    padding: 0 20px;
    text-align: center;
}

.modal-body table img {
    width: 20%;
    border-radius: 100%;
}

.modal-body table  {
    width: 95%;
    margin: 0 auto;
    border-spacing: 10px;
    font-size: 18px;
}

.modal-body table th {
    width: 45%;
    font-weight: bold;
    text-align: right;
    margin-right: 2px;
}

.modal-body table td {
    width: 55%;
    font-weight: 600;
    text-align: left;
    margin-left: 4px;
}


#confirmRe {
    font-family: "Noto Serif JP", serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 3%;
    color: #221D7E;
    background-color: #63ACF6;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    padding: 5px 40px;
    margin-right: 3%;
}

#confirmRe:hover {
    background-color: #98c5f3;
}

#cancelRe {
    font-family: "Noto Serif JP", serif;
    font-size: 19px;
    font-weight: bolder;
    margin-top: 20px;
    color: #221D7E;
    background-color: #FFFFF3;
    border: 0.5px solid #221D7E;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;

}

#cancelRe:hover {
    background-color: #ececec;
}