<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- LoginServlet 設定 -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.fave.LogReDeleFile.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/fave</url-pattern>
    </servlet-mapping>

    <!-- RegisterServlet 設定 -->
    <servlet>
        <servlet-name>ReServlet</servlet-name>
        <servlet-class>com.example.fave.LogReDeleFile.ReServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReServlet</servlet-name>
        <url-pattern>/ReServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GoodsServlet</servlet-name>
        <servlet-class>com.example.fave.GoodsFile.GoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoodsServlet</servlet-name>
        <url-pattern>/goods</url-pattern>
    </servlet-mapping>
</web-app>
